body {
    font-family: 'Humanist', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.item-price{
	font-weight: bold;
}
h2 {
    text-align: center; /* Center the headings */
    font-weight:bold; /* Make the font bold */
    
	margin-top: 110px;
    
}
.container {
	max-width: 390px;
}

.inner { 
    padding-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
    gap: 130px;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;

	border: none;
	background: rgb(255, 139, 7);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;


	transition: background .2s linear;
}

.image-container {
    position: relative;
}

.item-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(255, 139, 7);
    color: white;
    font-weight: 500;
    border-radius: 50%;
    padding: 5px 10px;
}

.button-container {  
    display: flex;  
    justify-content: space-between;  
    width: 100%;  
    margin-top: 10px;  
}

.btn {  
    padding: 10px;  
    border: none;  
    border-radius: 10px;  
    color: #fff;  
    text-transform: uppercase;  
    font-weight: 700;  
}

.plus-btn {
    background: rgb(39, 230, 39);  
    flex-grow: 1;  
    margin-left: 14px;
    margin-right: 20px; /* tiny space between buttons */
}

.minus-btn {
    background: rgb(233, 40, 40);  
    flex-grow: 1;  
    margin-left: 20px;
}

         .item {
            position: relative; /* Для позиционирования описания */
            text-align: center;
        }

        .description {
            color: #000000; /* Цвет текста для описания */
            cursor: pointer; /* Изменение курсора на указатель для кликабельного текста */
            text-decoration: underline; /* Подчёркивание для обозначения кликабельности */
        }
        .full-description {
            display: none; /* Скрываем полное описание по умолчанию */
            position: absolute; /* Позиционирование поверх изображения */
            bottom: 0px; /* Отступ от низа */
            left: 50%; /* Центрирование по горизонтали */
            transform: translateX(-50%); /* Центрирование по горизонтали */
            background-color: rgba(255, 255, 255, 0.733); /* Полупрозрачный фон */
            padding: 10px; /* Отступ внутри описания */
            border-radius: 5px; /* Закругление углов */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень для описания */
            z-index: 1; /* Поверх других элементов */
        }

.usercard {
	text-align: center;
}
